<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyh.scm.dao.RoleMapper">
	
	<insert id="assignMenu">
		INSERT INTO sys_role_menu (role_id,menu_key,action_key) VALUES
		(#{roleid},#{menukey},#{actionkey})
	</insert>

	<insert id="assignUser">
		INSERT INTO sys_role_user (role_id,user_id) VALUES
		(#{roleid},#{userid})
	</insert>

	<delete id="clearAssignedUsers">
		DELETE FROM sys_role_user WHERE role_id = #{roleid}
	</delete>

	<delete id="clearAssignedMenus">
		DELETE FROM sys_role_menu WHERE role_id = #{roleid}
	</delete>
	
	<delete id="removeRoleUserByUserId">
		DELETE FROM sys_role_user WHERE user_id = #{userid}
	</delete>

	<select id="roleMenus" resultType="java.util.HashMap">
		SELECT menu_key AS menuKey,action_key AS actionKey FROM
		sys_role_menu WHERE role_id = #{roleid}
	</select>

	<select id="userMenus" resultType="java.util.HashMap">
		SELECT rm.menu_key AS menuKey,rm.action_key AS actionKey FROM
		sys_role_user ru LEFT JOIN sys_role_menu rm ON ru.role_id = rm.role_id
		WHERE user_id = #{userid}
	</select>

</mapper>